/* phones, 600px and down */
@media only screen and (max-width: 600px) {
    
    .container {
        width: 100%;
    }

    .header{
        padding: 10px;
    }

    .header-content{
        flex-direction: column;
    }

    .menu a {
        padding: 5px;
        font-size: 14px;
    }

    .influ-content{
        flex-direction: column;
    }

    .influencer{
        padding: 20px;
    }

    .influ-text h2 {
        font-size: 30px;
    }

    .influ-text{
        order: 2;
        width: 100%;
    }

    .influ-img{
        order: 1;
        width: 100%;
        background: url('../images/Circle\ design.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 418px 333px;
        height: 344px;
    }

    .influ-img img{
        text-align: justify;
        width: 68%;
        height: auto;
    }

    .partner-name{
        flex-wrap: wrap;
    }

    .partner-name img{
        padding: 10px;
    }
    .products{
        align-items: center;
        justify-content: space-around;
    }

    .features{
        padding: 20px;
    }

    .features-content{
        flex-direction: column;
    }

    .feature-item{
        border: 1px solid #c5c1c1;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .features h2 {
        padding-top: 5px;
        padding-bottom: 12px;
    }

    .feature-item p {
        margin-bottom: 25px;
    }


  }
  
  /* portrait tablets and large phones, 600px and up*/
  @media only screen and (min-width: 600px) {
      
    .container {
        width: 100%;
    }

    .header{
        padding: 10px;
    }

    .header-content{
        flex-direction: column;
    }

    .logo-part, .menu-part{
        width: 100%;
    }

    .menu a {
        padding: 5px;
        font-size: 15px;
    }

    .influ-content{
        flex-direction: column;
    }

    .influencer{
        padding: 20px;
    }

    .influ-img{
        order: 1;
        width: 100%;
        background: url('../images/Circle\ design.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 418px 333px;
    }

    .influ-text h2 {
        font-size: 45px;
    }

    .influ-text{
        order: 2;
        width: 100%;
    }

    .influ-img{
        order: 1;
        width: 100%;
        text-align: center;
    }

    .influ-img img{
        text-align: justify;
        width: 50%;
        height: auto;
    }

    .partner-name{
        flex-wrap: wrap;
    }

    .partner-name img{
        padding: 10px;
    }
    .products{
        justify-content: space-around;
        flex-direction: row;
    }

    .product-item{
        width: 46%;
    }

    .product-item img{
        width: 100%;
    }

    .features{
        padding: 20px;
    }

    .features-content{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .feature-item{
        border: 1px solid #c5c1c1;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
        width: 48%;
    }

    .features h1{
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .features h2 {
        padding-top: 5px;
        padding-bottom: 12px;
        font-size: 16px;
    }

    .feature-item p {
        margin-bottom: 25px;
    }


  }

   /* landscape tablets, 768px and up*/
   @media only screen and (min-width: 768px) {
    
    .container {
        width: 100%;
    }

    .header{
        padding: 10px;
    }

    .header-content{
        flex-direction: column;
        text-align: center;
    }

    .logo-part, .menu-part{
        width: 100%;
    }

    .menu a {
        padding: 8px;
        font-size: 20px;
    }

    .influ-content{
        flex-direction: row;
    }

    .influ-text{
        order: 1;
    }

    .influ-img{
        order: 2;
    }

    .influ-text h2 {
        font-size: 38px;
    }

    .influ-img img {
        width: 100%;
    }

    .product-item{
        width: 50% !important;
    }

    .product-item img{
        width: 100% !important;
        height: auto !important;
    }

    .feature-text h2{
        font-size: 16px;
    }

    .feature-item {
        width: 50% !important;
    }


  } 
  
  
  
  /* laptops/desktops, 992px and up */
  @media only screen and (min-width: 992px) {

     .container {
        width: 100%;
    }

    .header{
        padding: 10px;
    }

    .menu a {
        padding: 8px;
        font-size: 25px;
    }

    .header-content{
        flex-direction: row;
        justify-content: space-between !important;
    }

    .influ-content{
        flex-direction: row;
    }

    .feature-text h2{
        height: 86px;
    }

    .features h2 {
        padding-top: 5px;
        padding-bottom: 30px;
        font-size: 22px;
    }

    .influ-text{
        order: 1;
    }

    .influ-img{
        order: 2;
    }

    .influ-text h2 {
        font-size: 42px;
    }

    .influ-img img {
        width: 80%;
        height: auto;
    }

    .feature-item {
        width: 32%;
    }

   
  } 
  
  /* large laptops and desktops, 1200px and up */
  @media only screen and (min-width: 1200px) {

     .container {
        max-width: 1110px;
    }

    .header{
        padding: 30px;
    }

    .menu a {
        padding: 8px;
        font-size: 25px;
    }

    .influencer{
        padding: 0px;
        margin-top: 20px;
    }

    .product-item {
        width: 30%;
    }

    .product-item img{
        width: 300px;
        height: 256px;
    }

    .influ-img {
        width: 100%;
        text-align: right;
    }

    .feature-item {
        width: 32%;
    }

    .feature-text h2{
        height: 96px;
    }

    .features h2 {
        padding-top: 5px;
        padding-bottom: 30px;
        font-size: 25px;
    }


  }