/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f3f3f3;
    color: #444;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

/*header*/
.header{
    margin: 30px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-part h3{
    font-size: 35px;
    text-transform: uppercase;
    color: #E02C6D;
}

.menu a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    transition: all ease .5s;
}

.menu a:hover{
    background: #E02C6D;
    border-radius: 5px;
    color: #ffffff;
}

.fav-icon i{
    color: #E02C6D;
    font-size: 25px;
    margin-left: 20px;
}

/*influencer*/

.influencer{
    margin-bottom: 70px;
}

.influ-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.influ-text{
    width: 50%;
}

.influ-img{
    width: 50%;
    text-align: right;
}

.influ-img img{
    width: 440px;
    height: 414px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.influ-text p{
    margin-bottom: 30px;
}

.influ-text h2{
    font-size: 50px;
}

.freebook{
    padding: 10px 16px;
    background: #E02C6D;
    text-decoration: none;
    border-radius: 25px;
    color: #ffffff;
    transition: ease-in 0.3s;
    font-size: 20px;
}

.freebook:hover{
    background: #000000;
    color: #E02C6D;
}

/*hr design*/

hr {
    border: none;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), cornflowerblue, rgba(0,0,0,0));
}

/*PartnerShip Name*/

.partnership{
    padding: 30px;
}

.partner-name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*collection product*/

.collection{
    margin-top: 70px;
    margin-bottom: 60px;
}

.collection h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item{
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 22px;
}

.item-text h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

.rate-icon{
    margin-top: 15px;
}

.rate-icon i{
    color: #f7ca04;
}

/*feature content*/

.features{
    text-align: center;
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 60px;
}

.features-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-item img{
    width: 150px;
    height: 150px;
}

.next-page{
    display: block;
    text-align: right;
    color: #E02C6D;
}

/*footer*/

.footer{
    padding: 45px;
    background: #E02C6D;
    color: #000;
}
.footer-content{
    text-align: center;
}

.social-icon i{
    background: #f3f3f3;
    color: #E02C6D;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 7px;
    transition: all ease 0.5s;
}

.social-icon i:hover{
    background: #000000;
    color: #ffffff;
}